body
    background-color: #f7f7f7 !important
    font-family: 'Montserrat' !important

.btn-interview
    background-color: #dfe3ee
    border: 1px solid #ffffff
    &:hover
        color: #ffffff
        background-color: #8b9dc3

.pointer
    cursor: pointer

.label
    font-weight: bold
    margin-right: 5px