body
    background-color: #f7f7f7 !important
    font-family: 'Montserrat' !important

.btn-interview
    background-color: #dfe3ee
    border: 1px solid #ffffff
    &:hover
        color: #ffffff
        background-color: #8b9dc3

.pointer
    cursor: pointer

.label
    font-weight: bold
    margin-right: 5px

.form-class
    border: 1px solid #8b9dc3
    border-radius: 5px
    background-color: #8b9dc3 !important

.left
    float: left
    margin-top: 1%
    margin-left: 1%
    padding: 10px
    width: 25rem

.user-card
    margin-top: 1rem

.right
    float: left
    margin-top: 1%
    margin-left: 1%
    padding: 10px
    width: 55rem